
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Facilitez votre irrigation</h6>
            <h6>Avec des moyens à la pointe de la technologie</h6>
            <div ><img style="height:120px; width:230px;" src="assets/IrriApplogo2.png"/></div>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
            </div>
        </div>
    </div>
</section>
